/* CSS RESET */
*{
  margin:0;
  padding:0;
  box-sizing: border-box;
  border: 2px solid grey;
}

section, div{
  padding:5%;
}
img{
  max-width:100%;
  height: auto;
}
/* GENERAL HELPER CLASS */
.tall{
  min-height:100vh;
}
.med-height{
  min-height:50vh;
}
.short{
  min-height:30vh;
}
.left{
  text-align: left;
}
.right{
  text-align: right;
}
.center{
  text-align: center;
}
.no-padding{
padding: 0;
}
.light-bg{
  background-color: rgb(245,245,245);
}
.dark-bg{
  background-color: rgb(60,60,60);
}
.feat-bg{
  background-color:#f4e9e0;
}
.white{
  background-color: rgba(245,245,245,0.5);
}
.button{
  border: 2px solid rgb(60,60,60);
  color:rgb(60,60,60);
  text-decoration: none;
  display: inline-block;
  padding: 2% 5%;
}
.button:hover{
  border:2px solid #FF934F;
  background-color: #FF934F;
  color:white;
}

/* Typeography */
body{
  font-family: nunito;
}
h1,h2,h3,h4,h5,h6{
  font-family: montserrat;
  color:rgb(60,60,60);
}
a{
  text-decoration: none;
  color:rgb(60,60,60);
}

[class*=banner]{
  background-position: center;
  background-size: cover;
  min-height: 80vh;
  background-image: url(/images/placeholder1.jpg);
}
.banner-home{
  background-image: url(/images/sunrise.jpg);
}
.banner-casestudy{
  background-image: url(/images/placeholder2.jpg);
  min-height: 60vh;
}
.logo{
}
/* Utility Classes */
.left{
  text-align: left;
}
.right{
  text-align: right;
}
.bg-image{
  padding-bottom: 50%;
  background-size: cover;
  background-position: center;
}
/* padding */
.padded{
  padding: 5%
}
.padded1{
  padding:1rem;
}
