/* CSS RESET */
*{
  margin:0;
  padding:0;
  box-sizing: border-box;
  border: 2px solid grey;
}

section, div{
  padding:5%;
}
img{
  max-width:100%;
  height: auto;
}
/* GENERAL HELPER CLASS */
.tall{
  min-height:100vh;
}
.med-height{
  min-height:50vh;
}
.short{
  min-height:30vh;
}
.left{
  text-align: left;
}
.right{
  text-align: right;
}
.center{
  text-align: center;
}
.no-padding{
padding: 0;
}
.light-bg{
  background-color: rgb(245,245,245);
}
.dark-bg{
  background-color: rgb(60,60,60);
}
.feat-bg{
  background-color:rgb(244,222,203);
}

[class*=banner]{
  background-position: center;
  background-size: cover;
  min-height: 80vh;
  background-image: url(/images/placeholder1.jpg);
}
.banner-home{
  background-image: url(/images/placeholder1.jpg);
}
.banner-casestudy{
  background-image: url(/images/placeholder2.jpg);
  min-height: 60vh;
}
.logo{
  max-width: 50%;
}
/* Utility Classes */
.left{
  text-align: left;
}
.right{
  text-align: right;
}
.bg-image{
  padding-bottom: 50%;
  background-size: cover;
  background-position: center;
}
