/* CSS RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* border: 1px solid rgb(240, 240, 240); */
}

@font-face {
  font-family: "Rockness";
  src: url("../fonts/Rockness.woff");
}


/* Gridlex Reset */
[class*=grid-], [class*=grid_], [class~=grid] {
  margin:0;
}
[class*=col-], [class*=col_], [class~=col]{
  padding:0;
}

img {
  max-width: 100%;
  height: auto;
}
.logo img{
  width:200px;
}
ul{
  line-height: 1.5rem;
  padding-bottom: 1rem;
  margin-left: 1rem;
}
li{
  padding-bottom: 0.5rem;
}
/* GENERAL HELPER CLASS */
.tall       {  min-height: 100vh; }
.med-height { min-height: 50vh;   }
.short      {  min-height: 30vh;  }

.left      { text-align: left;      }
.right     {  text-align: right;    }
.center    {  text-align: center;   }

.padded     { padding: 5%;}
.padded-1   { padding: 1rem;}
.no-padding { padding: 0; }

/* backgrounds */
.light-bg   {background-color: rgb(245, 245, 245);}
.dark-bg    {background-color: rgb(60, 60, 60);
color: white;}
.dark-bg a {color: white; border-bottom: 1px solid white;}
.feat-bg    {background-color: #f4e9e0;}
.white      {background-color: rgba(245, 245, 245, 0.5);}

.button {
  border: 2px solid rgb(60, 60, 60);
  color: rgb(60, 60, 60);
  text-decoration: none;
  letter-spacing: 2px;
  display: inline-block;
  padding: 1% 5%;
}
.button-1 {
  border: 2px solid white;
  color: white;
  text-decoration: none;
  display: inline-block;
  padding: 2% 5%;
}
.button-2 {
  border: 2px solid #FF934F;
  color: white;
  background-color:#FF934F;
  text-decoration: none;
  display: inline-block;
  padding: 2% 5%;
}
.button-3 {
  border: 2px solid #FF934F;
  color: #FF934F;
  background-color:white;
  text-decoration: none;
  display: inline-block;
  padding: 1% 5%;
}
.button-2:hover {
  border: 2px solid #FF934F;
  background-color: white;
  color:#FF934F;
}
.button-3:hover {
  border: 2px solid #FF934F;
  background-color:  #FF934F;
  color:white;
}
.button:hover {
  border: 2px solid #FF934F;
  background-color: #FF934F;
  color: white;
}
.button-1:hover {
  border: 2px solid #f4e9e0;
  background-color: #f4e9e0;
  color:rgb(60, 60, 60);
}
section{
  padding:5%;
}

/* Typeography */
body {
  font-family: nunito;
  font-weight:300;
  letter-spacing: 1.5;
}
 h2 {
  font-family: "Rockness";
  margin-bottom:1rem;
  font-weight: normal;
  font-size: 3rem;
}
p {
  line-height: 1.5;
  margin-bottom: 1rem;
}
a {
  text-decoration: none;
  color: rgb(60, 60, 60);
  font-family: nunito;
  font-weight:300;
  letter-spacing: 2;
}

[class*=banner] {
  background-position: center;
  background-size: cover;
  min-height: 80vh;
  background-image: url(/images/placeholder1.jpg);
}
.banner-home {
  background-image: url(/images/header6.jpg);
  min-height: 90vh;
  background-attachment: fixed;
}
.banner{
  background-image: url(/images/header5.jpg);
  background-position: center;
  background-size: cover;
  min-height: 80vh;
}
.ctabanner {
  background-image: url(/images/ioc1.jpg);
  background-position: center;
  background-size: cover;
  min-height: 80vh;
}
.logo {
  width:200px;
}

/* Utility Classes */
.left     {text-align: left;  }
.right    {text-align: right; }
.center   {tex-align:center;  }

.bg-image {
  padding-bottom: 50%;
  background-size: cover;
  background-position: center;
}
.bg-image-2{
  background-size: cover;
  background-position: center;
  min-height:50vh;
}
.bg-image-case {
  background-size: auto;
  background-position: center;
  max-height:50vh;
}
}
.profile{
  padding-bottom: 50%;
  background-size: cover;
  background-position: center;
  min-height:60vh;
}
.copyright {
  background-color: black;
  color: white;
}
.mobile-show {
  display: none;
}
.line {
  border: 1px solid black;
  width: 25px;
  margin: 5px;
  display: block;
  padding: 0;
  border-radius: 2px;
}
.hamburger {
  display: inline-block;
  padding: 0.5rem;
  z-index: 2;
  position: relative; /* adding this so we can use z-index */
}

.active .line {
  border-color: white;
}

header nav .button {
  display: inline-block;
  vertical-align:top;
}
.index header {
  background-image: url(/images/header6.jpg);
  background-attachment: fixed;
  background-color: white;
  background-position: center;
  background-size: cover;
  max-height: 80px;

}
/* TRANSPARENT BACKGROUND INFO .about is pulling from the front matter on the about.html. In order to create a transparent nav bar we need to add the background-image url to the cooresponding image on the about page. Or anyother page. eg. .work-with-me header{ background-image: url(............)}; */
.about header {
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
}

.mobile-nav{
  background-color: rgb(60, 60, 60);
  padding:10%;
  display:none;
  position: absolute;
  top:0;
  left:0%;
  bottom:0;
  right:0;
}
.footer, a:hover {
  color: #FF934F;
}

.mobile-nav a{
  color:white;
  padding:1rem;
  display:block;
  text-decoration: none;
  border-bottom: 1px solid white;
  transition: 1s;

}
.mobile-nav a:hover{
  color: orange;
}
.pain-grid{
  border:2px solid grey;
}
.icon{
  max-height: 100px;
  margin: 2rem;
}
.condition-icon{
  max-height:150px;
}
.condition-icon:hover {
box-shadow: (10px,10px,5px,0px,0.14);
}

h2.typing-heading {
    min-height: 3rem;
}
.highlight{
  background-color: white;

}
.card{
  padding:1rem;
  background-color: rgb(60, 60, 60);
  color: white;

}
.bracket{
  font-size: 10rem;
  color: grey;
}
.heading-box{
  min-height: 400px;
  background-color: transparent;

}
.card-1{
  background-color: #eedfcc;
  color:rgb(60, 60, 60);
}
.card-2{
  background-color: #e5cbb0;
  color:rgb(60, 60, 60);
}
.card-3{
  background-color: #d1a16e;
  color: rgb(60, 60, 60);
}
.prices{
  background-color: #eedfcc;
  color: rgb(60, 60, 60);
  border: 1px solid rgb(60, 60, 60);
}
.border-bottom{
  border-bottom: 1px solid rgb(240, 240, 240);
  text-align: left
}
.border-left {
  border: 1px solid rgb(240, 240, 240);
  padding: 2%;
}
.social{
  font-size: 2rem;
}
.social  :hover {
  color: orange;
}
.blog {
  font-size: 1.3rem;
  padding-right: 2rem;
  letter-spacing: 2px;
  font-weight: 600;
  text-align: left;
}
.innate {
  color: white;
}

/* MEDIA Querty */
@media(max-width: 768px){
  header{
    background-image: none!important;
  }
.heading-box {
  min-height: 400px;
}
.navbutton {
  display:none;
}
.mobile-hide {
  display: none;
}
.mobile-show {
  display: block;
}
.mobile-center {
  text-align: center;
}
}
/* END MEDIA QUERY */
