---
layout: default
title: German New Medicine Case Studies
description: Learn how GNM has directly helped people overcome their physical symptoms, by understanding and ultimately resolving emotional conflicts.
keywords: Health Case Stuides, GNM Case Studies, Dr Jake Currie, Jake Currie Chiropractor, Natural Healing, Natural healing consultation, online consultation, health consultation, German New Medicine, GNM, GNM Practicioner, German New Medicine Practicioner, Dr. Hamer
---
<section class='grid padded main'>


    <h2 class='col-12 center'> {{page.condition}} My GNM Case Studies </h2>

    {% for item in site.case-studies %}
    {% include case-study-card.html %}

    {% endfor %}
</section>
