---
layout: default
body-class: index
title: Dr Jake Currie | German New Medicine Practitioner | Mind Body Mastery
description: I work with people to help them make the connection between their mind and body and heal themselves. Online consultations availabile.
keywords: Dr Jake Currie, Jake Currie Chiropractor, Natural Healing, Natural healing consultation, online consultation, health consultation, German New Medicine, GNM, GNM Practicioner, German New Medicine Practicioner, Healing from the inside out, Resolve emotional conflicts
---
<!-- THIS IS THE BANNER SECTION -->
<section class='grid-right banner-home padded'>

  <div class="col-6_sm-12-middle padded light-bg heading-box  ">
    <h2 class="typing-heading bg-dark" style='font-size:3rem;'>I help you to<br>
      <span id="typed"></span>
    </h2>
    <div id="typed-strings">
      <span> Get out of pain </span>
      <span> Resolve emotional conflicts </span>
      <span> Heal from the inside out</span>
      <span> Understand your body </span>
    </div>
    <p> Using German New Medicine, I help you find and resolve the emotional causes of your physical symptoms so you can heal from the inside out. </p>
    <!-- <link href="https://assets.calendly.com/assets/external/widget.css" rel="stylesheet">
    <script src="https://assets.calendly.com/assets/external/widget.js" type="text/javascript"></script>
    <a href="" onclick="Calendly.initPopupWidget({url: 'https://calendly.com/findandseacreative/1-hour-gnm-consultation'});return false;" class='button center' style='padding:2% 4%;'> Heal From the Inside Out </a> -->
    <a href="https://mindbodymastery.co/work-with-me" target="_blank" class='button center'>Heal From The Inside Out</a>
    <a href="https://mindbodymastery.co/quiz" target="_blank" class='button-1'>Take the free Quiz</a>
  </div>

</section>


<!-- Join the waitlist  -->
<section class='grid-centered dark-bg padded'>
  <div class="col-9_sm-12 center">
  <h2>Want to learn how to heal yourself?</h2>
  <p>Join the waitlist for the upcoming Mind Body Mastery™ program to receive first access, and an early bird discount.  </p>
  <br><br>
  <h3 class='bigger'>Who is this program for?</h3><br>
  <ul class="list left">
  <li><i class="fas fa-arrow-circle-right list"></i>  &nbsp;&nbsp;People who understand the importance of the mind-body connection</li>
  <li><i class="fas fa-arrow-circle-right list"></i>  &nbsp;&nbsp;It is for those who have tried various healing methods, but nothing seems to work</li>
  <li><i class="fas fa-arrow-circle-right list"></i>  &nbsp;&nbsp;People who have struggled with physical pain or illness that won't shift </li>
  <li><i class="fas fa-arrow-circle-right list"></i>  &nbsp;&nbsp;Those who KNOW they can heal themselves, but need the 'how to'   steps</li>
  <li><i class="fas fa-arrow-circle-right list"></i>  &nbsp;&nbsp;People who want to take control of their health and not live in fear </li>
  <li><i class="fas fa-arrow-circle-right list"></i>  &nbsp;&nbsp;It is for those who are ready to <strong>rewire their subconscious mind</strong> for pain free future  </li>
  </ul><br><br>



  <h3 class='bigger'>What is included in the program? </h3><br>
  <div class="left">
  <p><i class="fas fa-check"></i> &nbsp;This 6 week group program will give you the understanding how specific emotional conflicts create disease and pain in the body  </p>
  <p><i class="fas fa-check"></i> &nbsp;You will learn the 'roadmap' to locate the precise emotional conflicts that are causing your pain or illness</p>
  <p><i class="fas fa-check"></i> &nbsp;You will get the practical tools necessary to shift your own emotional conflicts and blocks that keep you stuck</p>
  <p> <i class="fas fa-check"></i>&nbsp;You will gain deep insights into the workings of your own mind-body connection  </p>
  <p> <i class="fas fa-check"></i>&nbsp;You will develop the ability to 'do inner healing work' on yourself to create more emotional freedom and less 'disease' </p>
    <p> <i class="fas fa-check"></i>&nbsp;You will receive transformational coaching from Dr Jake Currie, to shift your own subconscious blocks  </p>

  <p> <i class="fas fa-check"></i>&nbsp;You will learn how to <strong>rewire your subconscious mind </strong>to create a future filled with vibrant health, and happiness. </p>
    </div><br>
<p><strong>NOTE:</strong> This program will be strictly limited to 20 people. </p>


  <script src="//static.leadpages.net/leadboxes/current/embed.js" async defer></script> <button data-leadbox-popup="9MCrfi9kbSDY3eSd8maKZV" data-leadbox-domain="mychiropractor.lpages.co" class='button'>Join The Waitlist</button>
  </div>

</section>
<!-- INTRO COPY -->
<!-- <section class='grid-centered center mobile-padded '>
  <div class="col-8_sm-12">
    <h2>Have you tried it all?</h2>
    <p>If you are in pain, or have been struggling with a particular problem, chances are you tried many different approaches. </P>
    <p>Most of the people I work with have done all they can, seen a doctor, physio, chiro, osteo, massage therapist, but these niggles still hang around. </p>
    <p>WHY?!</p>
    <p>because most of these modalities focus on the physical, not the emotional cause of dis-ease.   </p>
    <p>Don</p>
  </div>

</section> -->

<!-- HOW I HELP  -->
<section class='grid-center feat-bg'>
  <div class="col-2 right">
    <p class=' bracket'>{</p>
  </div>
  <div class='col-8-middle padded center'>
    <h2> Your body has an amazing ability to heal </h2>
    <p style='font-size:1.2rem;'> “What quantum physics teaches us is that everything we thought was physical is not physical.” - <strong>Dr. Bruce Lipton</strong> </p>
  </div>
  <div class="col-2 left">
    <p class=' bracket'>}</p>
  </div>
</section>



<!-- THIS IS THE WHY GNM SECTION -->
<section class="grid padded">
  <div class="col-4_sm-12 padded-1">
    <h2> Mind-Body Connection </h2>
  </div>
  <div class='col-8_sm-12-middle'>
    <p> <strong>The connection between your mind and body is so important.</strong> </p>
    <p>Modern healthcare sees pain and other symptoms as purely physical, ignoring what Eastern Medicine has known forever. <strong> Your mind creates changes in your body.</strong> </p>
    <p>German New Medicine developed by Dr. Hamer is a revolutionary science which explains the specific links between physical symptoms and the emotional cause. </p>
    <p>I work with people to help them make the connection between their mind and body and heal themselves. </p>
    <p></p>
    <a href='https://learninggnm.com' class='button' target="_blank"> Learn More About GNM </a>
  </div>
</section>

<!-- List of Conditions  -->
<!-- <section class='grid center padded light-bg'>
  <div class="col-12">
    <h2> Conditions I work with </h2>
  </div>

  <div class="col-2">

  </div>

  <div class="col-8 center padded-1">
    <p>GNM treats many conditions and pains. Here are the current top 4 conditions I have worked with. This is just the tip of the iceberg, I help people overcome a whole host of physical problems. </p>
  </div>

  <div class="col-2">
  </div>

  {% for condition in site.conditions limit:4 %}
  <div class="col-3_m-6_sm-12">
    <a href="{{condition.url}}">
      <div class='col-3 center'>
        <img src="/images/{{ condition.image }}" class='condition-icon'alt="">
        <h3> {{ condition.title }} </h3>
      </div>
    </a>
  </div>
  {% endfor %}
</section> -->

<!-- List of Case Studies -->
<!-- <section class='grid center padded light-bg'>
  <div class="col-12">
    <h2> Real Life Case Studies </h2>
  </div>
  <div class="col-2_sm-hidden">
  </div>
  <div class="col-8_sm-12">
    <p>The following case studies are all real life examples of patients I have worked with. Learn how GNM has directly helped people overcome their physical symptoms, by understanding and ultimately resolving emotional conflicts. </p>
  </div>
  <div class="col-2_sm-hidden">
  </div>
  {% for item in site.case-studies limit:6 %}
  {% include case-study-card.html %}

  {% endfor %}
</section> -->

<!-- THIS IS THE ABOUT JAKE SECTION -->
<section class='grid no-padding'>
  <div class='col-6_sm-12 bg-image'style="background-image: url('/images/jake-landscape.jpg')">
  </div>
  <div class='col-6_sm-12 padded dark-bg'>
  <h2 class='padded-1'> About Me </h2>
  <p class='smaller'>As a chiropractor, I was naturally drawn to helping people heal. </p>
    <p class='smaller'>The more I practiced, the more I began to reailse peoples physical pain and problems were not physical at all, but emotionally based. </p>
    <p class='smaller'><em>The real adversary is poor thinking, and stuck beliefs. I noticed, as soon as people started to think in a more empowered way, they began to truly heal. Not just emotionally, but PHYSICALLY. </em> </p>
    <p class='smaller'>I started intensly studying German New Medicine (GNM) the work of Dr Hamer 6 years ago. This was a game changer. </p>
    <p class='smaller'> Finally I had a framework to understand the mind-body connection, and to understand what I had seen in practice. </p>
    <p class='smaller'><em>I quickly realised that the most important work for healing and growth happened on the inside.</em> </p>
    <p class='smaller'>I'm still in the world of healing, just in a different way. Instead of removing physical blockages from the body, I am helping people remove blockages from their mind. </p>
    <p class='smaller'>The work of GNM not only helps people heal and grow, it also helps remove the fear from disease and symptoms. </p>
    <p class='smaller'>For many, knowing the principals of GNM allows them to feel in control of their own health. </p>
    <p><strong>Today I specialise in physical pain and chronic illnesses, helping people to see a physical shift in the symptoms in literally minutes. </strong> </p>

  </div>
</section>

<!-- THIS IS THE FIRST CTA SECTION -->
<section class='grid footer-bg center padded'>

  <div class="col-2">
  </div>
  <div class="col-8">
  <h2> Remove the emotional blocks causing you pain </h2>
  <p>Your body has an amazing ability to heal. However, unresolved emotional conflicts can delay the healing. GNM helps you connect the <strong>specific emotional conflicts </strong> that have been causing your symptoms to allow your body to resolve your symptoms naturally.  </p>
  <a href="https://mindbodymastery.co/work-with-me" target="_blank" class='button center'>Book Your GNM Consult</a>
</div>
  </div>
  <div class="col-2">
  </div>
</section>

<!-- INTRO TO THERAPY -->
<section class='grid padded light-bg'>
<div class="col-12 center">
<h2> How can I help you heal? </h2>
<p> Using German New Medicine and the understanding Dr. Hamer created, I will help you make the connection between your mind and body. Through one on one coaching, I can help you resolve both your physical symptoms and the emotional cause.  </p>
</div>
</section>

<!-- HOW THE THERAPY WORKS MODULE 1 -->
<section class='grid no-padding'>
  <div class='grid col-6_sm-12 bg-image-2' style="background-image: url('/images/header10.jpg')">

    <h2 class='col-12-middle center padded'> <span  class='text-bg left'> Step 1</span> <br> <span class='text-bg'>Creating Awareness</span> </h2>
  </div>
  <div class='col-6_sm-12 dark-bg padded'>
    <!-- <h2 class='center'>  Create Awareness</h2> -->
    <p> The first step to resolving physical symptoms and problems is to become aware of the emotional conflicts that created the changes.</p> <p> In our 1-on-1 session I will help you to connect the dots between your physical symptoms and the emotional cause. </p>
    <p>This is the most important stage in taking the fear away from your symptoms and helping you heal naturally. </p>
  </div>
</section>

<!-- HOW THE THERAPY WORKS MODULE 2 -->
<section class='grid-reverse section no-padding'>
  <div class='grid col-6_sm-12 bg-image-2' style="background-image: url('/images/header30.jpg')">
    <h2 class='col-12-middle center padded'> <span  class='text-bg left'> Step 2</span> <br> <span class='text-bg'>Breaking Associations</span> </h2>
  </div>
  <div class='col-6_sm-12 dark-bg padded'>
    <!-- <h2 class='center'> Step 2 - Break Associations </h2> -->
    <p> With any highly acute emotional 'shock' the subconscious mind takes a mental picture of everything you see, hear, taste, feel and smell to protect you from future encounters. </p>
    <p>Each time you step on a track without any awareness you reactivate the special biological program (SBS). You can read more <a href="/about-gnm">here.</a></p>
    <p>Constant reactivation of old conflicts is why people have problems that continue to come back and never truly resolve. </p>
  </div>
</section>

<!-- HOW THE THERAPY WORKS MODULE 3 -->
<section class='grid no-padding'>
  <div class='grid col-6_sm-12 bg-image-2' style="background-image: url('/images/header40.jpg')">
    <h2 class='col-12-middle center padded'> <span  class='text-bg left'> Step 3</span> <br> <span class='text-bg'>Changing Perspective</span> </h2>
  </div>

  <div class='col-6_sm-12 padded dark-bg'>
    <!-- <h2 class='center'> Step 3</h2> -->
  <p> Once you understand the link between your mind and body, you have the ability to change how you see the problem.
  </p>
  <p>Biological conflicts are designed to help us overcome 'dangerous' situations. Once we have created awareness we have the ability to change our perspective through re-framing.
  </p>
  </div>
</section>


<!-- BANNER CALL TO ACTION SECTION -->
<section class='center banner'>
    <div class="col-5-right padded">
    <h2> Heal from the inside out </h2>
    <p class='padded-1'> Book a consult to discover the emotional cause of your physical symptoms and live a great life.  </p>
    <a href="https://mindbodymastery.co/work-with-me" target="_blank" class='button center'>Heal From The Inside Out</a>
  </div>

  </div>

</section>
