<head>

  <!-- Gsuite  -->
  <meta name="google-site-verification" content="qfe7WJ8P86ksKmkKOi8wIlA9V4NKmtM8QLD22IN7oxQ" />
  <meta charset="utf-8">
    <!-- Page Title, Facebook Share and Meta Data -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="robots" content="index, follow">
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="default">

    <!-- Exit Pop Up -->
    <script src="//static.leadpages.net/leadboxes/current/embed.js" async defer></script> <script>window.addEventListener('LPLeadboxesReady',function(){LPLeadboxes.setExitIntent('4xpKYiNeG25gxBN6xxe4Xe',{dontShowFor:'5d',domain:'mychiropractor.lpages.co'});});</script> 



    <!-- SEO and open graph data  -->
    <title>{{ page.title }}</title>
    <meta name="keywords" content=" {{page.keywords}}">
    <meta name="description" content=" {{page.description}}">
    <meta property="og:description" content="{{page.description}}">
    <meta property="og:image" content="{{page.image_path | absolute_url }}">
    <meta property="og:type" content="website">
    <meta property="og:url" content="">
    <meta property="og:site_name" content="Instantly shift physical pain and chronic illness | Dr Jake Currie">

    <link rel="icon" type="image/png" sizes="192x192" href="/images/shell.png">

    <!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-149473524-2"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-149473524-2');
</script>


    <!-- Facebook Pixel Code -->
<script>
  !function(f,b,e,v,n,t,s)
  {if(f.fbq)return;n=f.fbq=function(){n.callMethod?
  n.callMethod.apply(n,arguments):n.queue.push(arguments)};
  if(!f._fbq)f._fbq=n;n.push=n;n.loaded=!0;n.version='2.0';
  n.queue=[];t=b.createElement(e);t.async=!0;
  t.src=v;s=b.getElementsByTagName(e)[0];
  s.parentNode.insertBefore(t,s)}(window, document,'script',
  'https://connect.facebook.net/en_US/fbevents.js');
  fbq('init', '639020453521753');
  fbq('track', 'PageView');
</script>
<noscript><img height="1" width="1" style="display:none"
  src="https://www.facebook.com/tr?id=639020453521753&ev=PageView&noscript=1"
/></noscript>
<!-- End Facebook Pixel Code -->

<!-- Roboto -->
<link href="https://fonts.googleapis.com/css?family=Roboto:300,500,700&display=swap" rel="stylesheet"/>

<link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/cookieconsent@3/build/cookieconsent.min.css" />

<link href="https://fonts.googleapis.com/css?family=Lato:300,300i,400,400i,700&display=swap" rel="stylesheet"/>

  <!-- font awesome -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.8.2/css/all.css" />

  <!-- Open Sans -->

  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,400i,600,700,800&display=swap" rel="stylesheet">

<!-- Animate on Scroll  -->
<link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
  <!-- GRIDLEX -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/gridlex/2.7.1/gridlex.min.css"/>

  <!-- CSS STYLE SHEET -->
  <link rel="stylesheet" href="/style.css">


</head>
