<!-- removed this nav-banner from the header -->
<header  class="grid-middle nav-banner">

  <div class="col-3_sm-5 padded-left ">
    <a href="/">
      <img src="/images/jakelogo.png" class="logo" alt="Dr Jake Currie Mind Body Mastery™ Program">
    </a>
  </div>

  <!-- hamburger menu -->
   <nav class='col-9_sm-7-middle padnav-right right '>
     <a href="/" class="margin-right mobile-hide">Home </a>
     <!-- <a href="/about-gnm" class="margin-right mobile-hide">About GNM </a> -->
     <a href="/about" class="margin-right mobile-hide">My Story</a>
     <a href="/mind-body-mastery" class="margin-right mobile-hide">Mind Body Mastery™</a>
     <a href="/quiz" class="margin-right mobile-hide">Free Quiz</a>
     <a href="/testimonials" class="margin-right mobile-hide">Testimonials</a>
     <a href="/work-with-me" class="margin-right mobile-hide">Book Consult</a>

       <div class="hamburger margin-right right desktop-hide mobile-show">
         <div class="line top"></div>
         <div class="line middle"></div>
         <div class="line bottom"></div>
        </div>
     </nav>

    <nav class="mobile-nav center text">
      <ul>
      <p class="strike dark"><span class="title">MENU </span></p>
        <a href="/">Home </a>

       <a href="/about-gnm" class="">About GNM </a>
       <a href="/about" class="">My Story</a>
       <a href="/mind-body-mastery" class="">Mind Body Mastery™</a>
       <a href="/quiz" class="">Free Quiz</a>
       <a href="/testimonials" class="">Testimonials</a>
       <a href="/work-with-me" class="">Book Consult</a>
      </ul>
     </nav>
   </header>
