<footer class='dark-bg grid-centered padded'>
<div class="col-10_sm-12 center">
  <h1 class=''>Heal the mind and the body will follow</h1>
  <p class='smaller'>If you are ready to start healing, schedule a time with Dr Jake Currie below. In your session you will discover EXACTLY what has been causing your issues and the know how to resolve it.  </p>
  <a href="/work-with-me" class='button'>Book Consult Today</a>

</div>

  </footer>


  <section class='grid-center black-bg paddedmini'>
    <p class='tiny center dark'>© Jake Currie 2020 | <a href="/disclaimer" target="_blank">Disclaimer</a> | <a href="https://learninggnm.com" target="_blank">Learning GNM </a> | Website by <a href="https://innatecreative.co" target="_blank" class='black'>Innate Creative</a> </p>

  </section>
