<footer class='dark-bg grid-centered padded'>
<div class="col-10_sm-12 center">
  <h1 class='dark'>Are you ready to resolve the root cause?</h1>
  <p class='smaller'>Your body is amazing, and lifetimes of problems can heal in moments when you deal with address the true cause. Book your consult today to start healing.   </p>
<a href="/work-with-me" class='button-1'>Book Consult</a>

</div>

  </footer>


  <section class='grid-center black-bg paddedmini'>
    <p class='tiny center dark'>© Jake Currie 2020 | <a href="/disclaimer" target="_blank" class='dark'>Disclaimer</a> | <a href="https://learninggnm.com" target="_blank">Learning GNM </a> | Website by <a href="https://innatecreative.co" target="_blank" class='black'>Innate Creative</a> </p>

  </section>
