---
layout: default
---
<!-- BANNER -->
<section class='grid-center banner' style='  background-image: url(/images/{{page.banner-image}});'

  <div class="col-5">
    <h1>{{page.title}} </h1>
    <h2>A german new medicine perspective </h2>
  </div>
</section>
<!-- WHO? -->
<section class='grid'>
  <div class="col-4">
    <h2> The Client </h2>
  </div>
  <div class="col-8">
    <p> {{72 year old Right handed female, presented with shoulder pain 1 year in duration. </p>
  </div>
</section>
<!-- THE PROBLEM -->
<section class='grid'>
  <div class="col-4">
    <h2>The Problem</h2>
  </div>
  <div class="col-8">
    <p> {{page.presentation}} </p>
  </div>
</section>
<!-- THE THREE POINTS -->
<section class='grid'>
  <div class="col-4_sm-12">
    <div class="bg-image" style="background-image: url('/images/universe.jpg')">
    </div>
    <h3> GNM Conflict</h3>
    <p>This is where we describe the GNM conflict </p>
  </div>
  <div class="col-4_sm-12">
    <div class="bg-image" style="background-image: url('/images/universe.jpg')">
    </div>
    <h3> Organs Involved </h3>
    <p>Which germ layers are involved? </p>
  </div>
  <div class="col-4_sm-12">
    <div class="bg-image" style="background-image: url('/images/universe.jpg')">
    </div>
    <h3> Callibration</h3>
    <p> The patient presented with this... </p>
  </div>
</section>
<!-- HOW WE HELPED SECTION -->
<section class='grid'>
  <div class="col-12-center">
  <h2>How German New Medicine Helped </h2>
  </div>
</section>
<!-- CREATING AWARENESS (THERAPY) -->
<section class='grid'>
  {% for point in page.points %}
  <div class='col-6_sm-12'>
    <img src="/images/{{point.image}}">
  </div>
  <div class='col-6_sm-12'>
    <h2> {{point.title}}</h2>
    <p>{{point.description}}</p>
  </div>
  {% endfor %}
  </section>
  <!-- RESULTS SECTION -->
  <section>
  <div class="col-8_sm-12">
    <h2> The Results </h2>
    <p> Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
  </div>
</section>
<!-- BANNER CALL TO ACTION -->
<section class='grid-center banner-home'>

  <div class="col-5">
    <h2>Work with me </h2>
    <h3> Book your free 20 minute discovery session to see how German New Medicine can help you </h3>
    <a href="#">Book Discovery Call</a>
  </div>
</section>
