---
layout: default
---
<!-- BANNER -->

  <div class="col-5 center padded">
    <!-- <h1> {{page.title}} </h1> -->
    <h2> {{page.excerpt_html}} </h2>
  </div>
  </div>
</section>

<!-- THE PATIENT -->
<section class='grid border-bottom'>
  <div class="col-12">
    <h4> Date:</h4>
    <p> {{page.date}} </p>
    <h3 class='blog'> The Patient </h3><br>
    <p>  {{page.patient-description_html}}</p>
  </div>
</section>

<!-- SUBJECTIVE COMPLAINT-->
<section class='grid border-bottom'>
  <div class="col-12">
    <h3 class='blog'> Subjective Complaint </h3><br>
    <p> {{page.subjective-complaint_html}} </p>
  </div>
</section>

<!-- OBJECTIVE FINDINGS-->
<section class='grid border-bottom'>
  <div class="col-12">
    <h3 class='blog'> Objective Findings </h3><br>
    <p> {{page.objective-findings_html}} </p>
  </div>
</section>

<!-- CALIBRATION-->
<section class='grid border-bottom'>
  <div class="col-12">
    <h3 class='blog'> Calibration </h3><br>
    <p> {{page.calibration_html}} </p>
  </div>
</section>

<!-- GNM Explaination-->
<section class='dark-bg border-bottom'>
  <div>
    <h2> GNM Explaination </h2><br>
  </div>
  <div>
    <p> {{page.explanation_html}}</p>
  </div>
</section>


<!-- Creating Awareness -->
<section class='grid border-bottom'>
  <div class="col-12">
    <h3 class='blog'> Creating Awareness </h3><br>
    <p>  {{page.awareness_html}} </p>
  </div>
</section>

<!-- Breaking Assoications -->
<section class='grid border-bottom'>
  <div class='col-12'>
    <h3 class='blog'> Breaking Associations </h3><br>
    <p> {{page.associations_html}} </p>
  </div>
</section>

<!-- Changing Perspective -->
<section class='grid border-bottom'>
  <div class="col-12">
    <h3 class='blog'> Changing Perspective </h3><br>
    <p> {{page.perspective_html}}</p>
  </div>
</section>

<!-- The results -->
<section class='dark-bg border-bottom '>
  <div>
    <h2> The results </h2><br>
  </div>
  <div>
    <p>  {{page.results_html}}  </p>
  </div>
</section>

<!-- Credits  -->
<section class='grid border-bottom'>
  <div class="col-12">
    <h3 class='blog'> Credits </h3><br>
    <p> {{page.credits_html}}</p>
  </div>
</section>

<!-- BANNER CALL TO ACTION -->
<section class='banner center'>
  <div class="col-5-right padded">
    <h2> Work with me </h2>
    <p class='padded-1'> Book a consult so you can discover the emotional cause of your physical symtpoms and live a great life.  </p>
    <a href="#"class='button padded-1'> Book Call</a>
  </div>
</section>

<!-- WANT MORE CASE STUDIES -->
<section class='grid'>
  {% assign more_case_studies = site.case-studies | where: "condition", page.condition | filter: "title", page.title %}
  {% for item in more_case_studies %}
  {% include case-study-card.html %}
  {% endfor %}
</section>
