---
layout: default
---
<!-- Banner Image of the page  -->
<section class='grid bg-image-case' style="background-image: url(' {{page.image}} ');">
</section>

<!-- The first text section -->
<section class='grid'>
  <div class="col-2">
  </div>
  <div class="col-8_sm-12">

    <h3 class='right'>Date:</h3> <p class='right'> {{page.date_html}} </p>
    <h2>The patient: </h2>
    <p> {{page.patient-description_html}}</p><br>
    <h3>Subjective Complaint: </h3>
    <p>{{page.subjective-complaint_html}}</p><br>
    <h3> Objective Findings: </h3>
    <p>{{page.objective-findings_html}}</p><br>
    <h3> Calibration: </h3>
    <p>{{page.calibration_html}} </p>

    <div class="col-2">
    </div>
  </div>
</section>

  <!-- GERMAN NEW MEDICINE EXPLAINATION -->
  <section class='grid'>
    <div class="col-2">
    </div>

    <div class="col-8_sm-12 ">
      <h2>The GNM explanation: </h2>
      <p> {{page.explanation_html}} </p><br>
      <h3> Organs Affected: </h3>
      <p>{{page.organs_html}} </p>
    </div>

    <div class="col-2">
    </div>

  </section>

<!-- GNM UNDERSTANDING  -->
<section class='grid'>
  <div class="col-2">
  </div>

  <div class="col-8_sm-12">
    <h2>The GNM Understanding: </h2>
    <p> In order to help the body heal, it is important for the cliet to understand the original conflict shock, and how this conflict has created the symptoms as part of a meaning biological program. Moving forward, the client must remove any tracks or triggers and ultimately change their perspective on the situation. </p></br>
    <h3>Creating Awareness: </h3>
    <p>{{page.awareness_html}} </p></br>
    <h3>Breaking Assoications: </h3>
    <p>{{page.associations_html}} </p></br>
    <h3> Changing Perspective: </h3>
    <p>{{page.perspective_html}} </p>
  </div>

  <div class="col-2">
  </div>

</section>

<!-- THE RESULTS SECTION -->
<section class='grid'>
  <div class="col-2">
  </div>
  <div class="col-8_sm-12">
    <h2>The Results: </h2>
    <p> {{page.results_html}} </p>
  </div>

  <div class="col-2">
  </div>
</section>


<!-- CREDITS  -->
<section class='grid'>
  <div class="col-2">
  </div>

  <div class="col-8_sm-12">
<h2> Credits: </h2>
<p> All credits go to Dr. Hamer and the Learning GNM team. For further clarification on this conflict and others visit the Learning GNM site.   </p>
<a href="https://www.learninggnm.com" target="_blank" class='button'> Learning GNM </a>
  </div>

</section>


</section>

<!-- BANNER CALL TO ACTION SECTION -->
<section class='center banner'>
    <div class="col-5-right padded">
    <h2> Heal from the inside out </h2>
    <p class='padded-1'> Book a consult to discover the emotional cause of your physical symptoms and live a great life.  </p>
    <link href="https://assets.calendly.com/assets/external/widget.css" rel="stylesheet">
    <script src="https://assets.calendly.com/assets/external/widget.js" type="text/javascript"></script>
    <a href="" onclick="Calendly.initPopupWidget({url: 'https://calendly.com/findandseacreative/1-hour-gnm-consultation'});return false;" class='button'> Book Your GNM Session </a>

  </div>

</section>


<!-- WANT MORE CASE STUDIES -->
<section class='grid'>
  {% assign more_case_studies = site.case-studies | where: "condition", page.condition | filter: "title", page.title %}
  {% for item in more_case_studies %}
  {% include case-study-card.html %}
  {% endfor %}
</section>
