---
layout: default
---
<!-- This is the banner section -->
<!-- THIS IS THE BANNER SECTION -->
<section class='grid-right banner  padded '>

  <div class="col-5_sm-12 padded white">
    <h2>Health from the inside out </h2>
    <h3>German new medicine, a new health perspective </h3>
  </div>
</section>

<!-- KNEE PAIN OVERVIEW -->
<section class="grid">
  <div class="col-4_sm-12">
    <h2> German New Medicine perspective of Knee Pain </h2>
  </div>
  <div class='col-8_sm-12'>
    <h2>Biological Conflict</h2>
    <p> <strong>Competition conflicts, physical perfomrance self devaluation.</strong> Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute
      irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. </p>
  </div>
</section>

<!-- THREE SECTIONS -->
<section class='grid feat-bg'>
  <div class="col-12 center">
    <h2>Who is GNM for? </h2>
  </div>

  <div class="col-4_sm-12 center padded">
    <div class="bg-image" style="background-image: url('/images/universe.jpg')">
    </div>
    <h3> Unexplained Pain </h3>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </p>
    <a href="#" class='button'> Learn More </a>
  </div>
  <div class="col-4_sm-12 center padded">
    <div class="bg-image" style="background-image: url('/images/universe.jpg')">
    </div>
    <h3> Better </h3>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </p>
    <a href="#" class='button'> Learn More </a>
  </div>
  <div class="col-4_sm-12 center  padded">
    <div class="bg-image" style="background-image: url('/images/universe.jpg')">
    </div>
    <h3> Best </h3>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </p>
    <a href="#" class='button'> Learn More </a>
  </div>
</section>
