---
layout: default
---

<!-- THIS IS THE BANNER SECTION -->
<section class='grid-right banner padded'>
  <div class="col-5_sm-12 padded white">
    <h2>Health from the inside out </h2>
    <h3>German new medicine, a new health perspective </h3>
  </div>
</section>

<!-- OVERVIEW -->
<section class="grid">
  <div class="col-4_sm-12">
    <h2> German New Medicine perspective of {{page.condition}} </h2>
  </div>
  <div class='col-8_sm-12'>
    <h2>Biological Conflict of {{page.condition}}</h2>
    {{page.conflict_html}}
    <a href="#" class='button'> Learning GNM </a>
    <a href="#" class='button-1'> Book a Consult </a>
  </div>
</section>

<!-- THREE SECTIONS -->
<section class='grid light-bg'>
  <div class="col-12 center editable">
    <h2> How can GNM Help? </h2>
    <p>German New Medicine, developed by Dr Hamer shows the link between an unexpected emotional conflicts and physical symptoms. <br><br> By understanding the emotional cause of symptoms as an GNM practitioner I am able to help guide you making the connection between your physical symptoms and the emotional cause.  </p>
  </div>

  <div class="col-4_sm-12 center padded">
    <!-- <div class="bg-image" style="background-image: url('/images/idea.svg')">
    </div> -->
    <img src="/images/idea.svg" class='icon'>
    <h3 class="editable"> Creating Awareness </h3>
    <p class="editable"> The first stage in allowing the body to heal is to create an awareness of the connection between the biological conflict and your symptoms. Often this stage along is enough to see progress. </p>
  </div>

  <div class="col-4_sm-12 center padded">
      <img src="/images/reminder.svg" class='icon'>
    <h3 class="editable"> Breaking Associations </h3>
    <p class="editable"> When the inital conflict occurs our subconscious mind goes to work taking note of everything we see, hear, smell, taste and touch. It is perparing to protect us. From a biological perspective, if we expereinced a territorial conflict when we went to a watering hole, our brain will perpare us for battle when we go there next. </p>
  </div>

  <div class="col-4_sm-12 center  padded">
    <img src="/images/thinking.svg" class='icon'>
    <h3 class="editable"> Change Perspective </h3>
    <p class="editable"> Without awarenesss of the link between your physical symptoms and the emotional conflicts it is difficult to think differently. German New Medicine invites you to change the way you think not only about the initial conflict but also the healing symptoms. </p>
  </div>
</section>

<!-- CASE STUDIES GO HERE -->
<section class='grid'>


    <h2 class='col-12 center'> {{page.condition}} Case Studies </h2>

    {% assign related_case-studies = site.case-studies | where: "condition", page.condition %}
    {% for item in related_case-studies %}
    {% include case-study-card.html %}

    {% endfor %}
</section>

<!-- CALL TO ACTION SECTION  -->
<section class='banner center'>
  <div class="col-5-right padded">
    <h2 class='padded-1'> Do you need help with {{page.condition}}? </h2>
    <p class='padded-1'> Book your free 20 minute discovery call to see how I can help you resolve emotional conflicts </p>
    <a href="#"class='button padded-1'> Book Discovery Call</a>
  </div>

</section>
